@import url("https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.css");
@import url("//fonts.googleapis.com/css?family=BenchNine");

html, body
{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 10pt;
    height: 100%;
}

a
{
    color: white;
}

h1
{
    color: #333333;
}

h5
{
    font-family: 'BenchNine';
    font-size: 1.5em;
    color: #888;
}

tnc
{
    font-size: 0.7em;
}

img{
    width: 100%;
}

.page-header
{
    position: relative;
    padding: 100px 0px 0px 0px;
    background-image: url(img/headerimg.jpg);
    background-clip: border-box;
    background-size: cover;
    background-position: center;
    /*background-blend-mode: overlay;*/
    background-color: darkgray;
    border: none;
    height: 100%;
    overflow: hidden;
}

.wrap1
{
    width: 100%;
    border-left: solid crimson 10px;
    padding: 1px 3px 1px 30px;
    background-color: rgba(255, 255, 255, 0.4);
}

.footer
{
    width: inherit;
    background-color: aqua;
    text-align: center;
}






